body {
    margin: 0;
}

#nav-div {
    display: flex;
    justify-content: center;
    height: 5rem;
    background-color: #494846;
}

#nav-div button {
 display: inline-block;
  position: relative;
  top: 1px;
  right: 20px;
  color: #F2994B;
  padding: 5px 10px;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase ;
}

#main-div {
    
    height: 100vh;
    background-color: #E8E8DB;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}
#main-text {
    margin-top: 5rem;
    width: 50rem;
    text-align: left;
}

#menu-div {
    
    height: 100vh;
    background-color: #E8E8DB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#menu-p {
    margin-top: 5rem;
    width: 50rem;
    text-align: center;
}

#contact-div {
    
    height: 100vh;
    background-color: #E8E8DB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#bougatsa-image {
    margin-top: 5rem;
    width: 30rem;
    height: 20rem;
}

#footer-div {
    display: flex;
    height: 20rem;
    justify-content: space-around;
    background-color: #494846;
}